---
layout: index
---

{% include header.html %}

{% for slide in site.posts %}
	{% for s in slide.slides %}
	<div class="slide-wrap"{% if s.img != null %} style="background: url({{s.img}}) no-repeat center center; background-size: contain;" data-speedy{% endif %}>
		<div class="slide">
			{% if s.title != null %}
			<h1{% if s.first == true %} class="first"{% endif %}>{{s.title}}</h1>
			{% endif %}
			{% if s.content != null %}
			<p>{{s.content}}</p>
			{% endif %}
			{% for t in s.content_multi %}
				<p class="ex" data-type="{{t.type}}">{{t.content}}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
{% endfor %}

{% include footer.html %}