@import 'vars';
* {
    border: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    // background: #9BB4CF;
    // background: $light;
    background: $red;
    color: $black;
    font: normal 120%/1.5 $proxima;
    height: 100%;
    min-height: 100%;
    padding: 1rem;
    width: 100%;
}
body {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    padding: 0;
}
h1 {
    font-size: 4rem;
    // font-weight: normal;
    letter-spacing: -2.5px;
    line-height: 1.1;
    margin: 0;
    + p {
        margin-top: 1rem;
    }
    &.first {
        font-size: 5rem;
        letter-spacing: -2px;
    }
}
p {
    color: #999;
    margin: 0;
    // opacity: .5;
    &.ex {
        &:after {
            content: attr(data-type);
            color: #040407;
            font-weight: bold;
            display: inline-block;
            margin-left: .25rem;
            padding-left: .25rem;
        }
    }
}
.slide-wrap {
    // background: $light;
    // background: $red;
    display: none;
    height: 100%;
    // left: 0;
    padding: 0 1rem;
    opacity: 0;
    // position: fixed;
    transform: scale(0.75);
    transform: translate(-5%,-5%);
    // top: 0;
    width: 100%;
    z-index: 2;
    // &.no-b {
    //     background: $red;
    // }
    &.active {
        display: table;
        opacity: 1;
        transform: scale(1);
        transform: translate(0,0);
        -webkit-animation: fadeIn .5s ease-in-out;
        animation: fadeIn .5s ease-in-out;
        // .animate & {
        //     -webkit-animation: fadeIn .5s ease-in-out;
        //     animation: fadeIn .5s ease-in-out;
        // }
    }
}
.slide {
    // background: white;
    // border-radius: 4px;
    // box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    .no-b & {
        background: none;
        box-shadow: none;
    }
}
.slide * {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
}

a {
    border-bottom: 2px solid currentColor;
    color: $red;
    text-decoration: none;
    // text-transform: capitalize;
}

@media screen and (max-width: 30rem){

h1 {
    font-size: 1.75rem;
}
p {
    font-size: 1rem;
}

}

@media screen and (min-width: 30rem) and (max-width: 35rem){

h1 {
    font-size: 2.5rem;
}

}

@media screen and (min-width: 35rem) and (max-width: 40rem){

h1 {
    font-size: 3rem;
}

}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        // transform: scale(0.75);
        // transform: translate(-5%,-5%);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // transform: translate(0,0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        // transform: scale(0.75);
        // transform: translate(-5%,-5%);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // transform: translate(0,0);
    }
}