// $primary: #ee7873;
$primary: #042617;
$white: white;
$black: #040407;
$yella: yellow;

// fonts
// $proxima: 'proxima-nova-semi', sans-serif;
// $proxima: 'Inconsolata', monospace;
$proxima: 'Helvetica Neue', sans-serif;